*{
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: whitesmoke;
}

.header {
    display: flex;
    width: 1440;
    height: 56;
    justify-content: space-between;
    align-items: center;
    padding-right: 24px;
    padding-left: 24px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.header__left{
    display: flex;
    align-items: center;
    gap: 40px;
    width: 146px;
    height: 24px;
}

.menu-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
}

.logo {
    height: 24px;
}

.header__center {
    flex: 1;
    display: flex;
    justify-content: center;
}

.search-bar {
    display: flex;
    width: 50%;
    max-width: 600px;
    border: 1px solid #ccc;
    border-radius: 20px;
    overflow: hidden;
}

.search-bar input {
    flex: 1;
    padding: 8px 12px;
    border: none;
    outline: none;
}

.search-btn {
    background: #f8f8f8;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-left: 1px solid #ccc;
}

.header__right {
    display: flex;
    align-items: center;
    gap: 16px;
}

.icon-btn,
.profile-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
}

.icon-btn img,
.profile-btn img {
    width: 24px;
    height: 24px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 952px;
}

.container-video {
    width: 952px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.img__video {
    display: block;
    text-decoration: none;
}

.img__video img{
    border-radius: 15px;
}

.title__video p {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
}

.views__text{
    width: 952px;
    text-align: left;
    margin-top: 8px;
}

.views__text p{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
}

.video__description {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
}

.content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    padding: 24px;
}

.sidebar {
    margin-top: 20px;
    width: 350px;
}

.container__sidebar{
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin-bottom: 10px;
    width: 350px;
}

.container__sidebar img {
    width: 168px;
    height: 94px;
    object-fit: cover;
    border-radius: 15px;
}

.container__sidebar a {
    display: flex;
    flex-direction: row;
    gap: 12px;
    color: inherit;
    text-decoration: none;
}

.container__sidebar h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: black;
}

.container__sidebar h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #515151;
}

.container__sidebar h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #515151;
}


